@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.inter_start {
    width: 100%;
    height: 728px;
    position: relative;
    background: var(--mid-green, #CDE4CD);
    overflow-y: hidden;
}

.inter_start .light_green {
    width: 1296px;
    height: 1296px;
    border-radius: 50%;
    background: var(--light-green, linear-gradient(0deg, rgba(0, 163, 0, 0.10) 0%, rgba(0, 163, 0, 0.10) 100%), #FFF);
    position: absolute;
    bottom: 0;
    transform: translateX(-70px) translateY(120px);
}

.inter_start .big_bird_1 {
    position: absolute;
    transform: translateY(200px);
}

.inter_start .big_bird_2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.inter_start .start_texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(200px);
    gap: 140px;
}

.inter_start .start_texts a {
    color: #FFF;
    text-align: center;
    font-family: Pacifico;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    text-decoration: none;
}

.inter_start .start_texts .start_title {
    color: var(--dark-green, #1C361C);
    font-family: Pacifico;
    font-size: 64px;
    font-weight: 400;
    line-height: 88px;
    position: relative;
}

.start_texts .img_bird_1 {
    position: absolute;
    top: 0;
    transform: translateX(110px) translateY(-1px);
}

.start_texts .start_button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 32px;
    padding: 24px 56px;
    border-radius: 8px;
    background: var(--success, #3CA33C);
    cursor: pointer;
    border: unset;
    transition: .3s;
}

.start_texts .start_button:hover {
    background: var(--success---pressed, #266626);
    transform: translateY(-5px);
}